@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;
@tailwind components;
@tailwind utilities;

#Category

.btnCenter {
    text-align: center;
    color: white;
}

.buttonContainer {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center; 
  }


:root {
    --bg: #F2F2F2;
    --color: #eee;
}

body { 
    background: var(--bg) !important;
    font-family: "Inter", sans-serif;
}



